language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

install:
  - python setup.py install
  - pip install nose
  - pip install coveralls
script:
  - nosetests  --with-coverage --cover-package=forex_python

after_success:
  coveralls
